@model taske_tracking.Models.TaskTable

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/shared/_MainLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>TaskTable</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.title)
        </dd>
        <hr />
        <dt>
            @Html.DisplayNameFor(model => model.details)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.details)
        </dd>
        <hr />
        <dt>
            @Html.DisplayNameFor(model => model.assingname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.assingname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.date)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
